parameters:
  level: 6
  bootstrapFiles:
    - tests/bootstrap.php
  paths:
    - src
    - tests
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:

  ## Remove after remove ArrayObject
  treatPhpDocTypesAsCertain: false
