<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <coverage>
      <include>
        <directory suffix=".php">./src</directory>
      </include>
      <report>
        <clover outputFile="./build/logs/clover.xml"/>
        <html outputDirectory="./build/coverage"/>
      </report>
    </coverage>
    <testsuites>
        <testsuite name="PhpOffice Common Test Suite">
            <directory>./tests/Common</directory>
        </testsuite>
    </testsuites>
</phpunit>